<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <style>
    body {
      background: #eee;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-box {
      background: white;
      padding: 30px;
      border-radius: 8px;
      text-align: center;
    }

    .mensagem-erro {
      color: red;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="login-box">
    <h2>Login</h2>
    {% if erro %}
  <div style="color: red; font-weight: bold; margin-bottom: 20px;">
    {{ erro }}
  </div>
{% endif %}
    <form method="POST" action="{{ url_for('verifica_login') }}">
      <input type="text" name="email" placeholder="Email" required><br>
      <input type="password" name="senha" placeholder="Senha" required><br><br>
      <button type="submit">Entrar</button>
    </form>

    {% with mensagens = get_flashed_messages() %}
      {% if mensagens %}
        <div class="mensagem-erro">
          {% for msg in mensagens %}
            {{ msg }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>
</body>
</html>
